<!-- Users Page -->
<% provide(:title, "Chores - Index") %>
<div class="center jumbotron" id="users">
  <p id="notice"><%= notice %></p>

  <h1>Chores</h1>
  <div class="center">
    <table>
      <thead>
      <tr>
        <th>User ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Difficulty Level</th>
        <th>Availability</th>
        <th colspan="3">Admin Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @chores.each do |chore| %>
        <tr>
          <td><%= chore.user_id %></td>
          <td><%= chore.title %></td>
          <td><%= chore.price %></td>
          <td><%= chore.difficultyLvl %></td>
          <% if chore.isAvailable == false %>
            <td>Not Available</td>
          <% else %>
            <td>Is Available</td>
          <% end %>
          <td><%= link_to 'Show', chore %></td>
          <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
          <td><%= link_to 'Destroy', chore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Chore', new_chore_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
