<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Chore Bucks Application">
  <meta name="author" content="Chore Bucks App Project Team">

  <title>Chore Bucks</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="https://chorebucksapp.s3-us-west-2.amazonaws.com/favicon-16x16.png">

  <!-- Font Awesome Icons -->
  <%= stylesheet_link_tag "all.min.css" %>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <%= stylesheet_link_tag "magnific-popup.css" %>

  <!-- Theme CSS - Includes Bootstrap -->
  <%= stylesheet_link_tag "creative.css" %>

</head>

<body id="page-top">


<%= yield %>

<!-- Footer -->
<footer class="bg-light py-5">
  <div class="container">
    <div class="small text-center text-muted">Copyright &copy; 2020 - Chore Bucks</div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'bootstrap.bundle.min.js' %>

<!-- Plugin JavaScript -->
<%= javascript_include_tag 'jquery.easing.min.js' %>
<%= javascript_include_tag 'jquery.magnific-popup.min.js' %>

<!-- Custom scripts for this template -->
<%= javascript_include_tag 'creative.min.js' %>
</body>

</html>
